@import url("../../scss/base.scss");
@import url("../../scss/styles.scss");


.clothing {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 30px;
  column-gap: 30px;
  margin: 0 auto;

  &__image {
    width: 255px;
    height: 384px;
  }
  &__title{
    width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
  }
  &__description {
    display: -webkit-box;
    width: 250px;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
  }
  &__content {
    display: flex;
    flex-flow: column;
    row-gap: 10px;
  }
}

.spinner {
   position: absolute;  
   top: 50%;
   left: 46%;                       
}

.loader {
  display: flex;
  justify-content: center;
}

.position {
  position:static;
  right: 0;
}