@font-face {
  font-family: 'Open Sans';
  src: url(./fonts/OpenSans/OpenSans-Regular.ttf);
  font-weight: 400px;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans Semibold';
  src: url(./fonts/OpenSans/OpenSans-SemiBold.ttf);
  font-weight: 600px;
  font-style: normal;
}

@font-face {
  font-family: 'Merriweather Bold';
  src: url(./fonts/Merriweather/Merriweather-Bold.ttf);
  font-weight: 700px;
  font-style: normal;
}

