@import "./base.scss";

html {
  font-size: $base-font-size;
  height: 100%;
}

body {
  font-family: $main-fons;
  height: 100%;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
}

ul,li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {text-decoration: none;}

p {margin: 0;}

textarea {vertical-align: middle;}

input,
select,
button {outline: none;}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content {flex: 1 0 auto; }

.container {
  margin: 0 auto;
  max-width: 1110px;
  width: 100%;
}